<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>start_N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{252,104}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{252,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>start_S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,2}</string>
                <key>spriteSize</key>
                <string>{296,150}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{107,1},{296,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>start.png</string>
            <key>size</key>
            <string>{404,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd4ac10eae34849c709f2bc5af3f4de9:5054a83f3ef4da29f0f77738a209ec3e:8515f24a45383d6b4899a9e5fc8d6fdf$</string>
            <key>textureFileName</key>
            <string>start.png</string>
        </dict>
    </dict>
</plist>
